.toast-success {
    background-color: #51a351 !important;
}
.toast-error {
    background-color: #e21b1b !important;
}
#logo {
    user-select: none;
}
/* Just add this CSS to your project */

.dropzone {
    border: 2px dashed #dedede;
    border-radius: 5px;
    background: #f5f5f5;
}

.dropzone i{
    font-size: 3rem;
}

.cursor-pointer {
    cursor: pointer;
}

.dropzone .dz-message {
    color: rgba(0,0,0,.54);
    font-weight: 500;
    font-size: initial;
    text-transform: uppercase;
}

.dz-image > img {
    width: 120px;
    height: 120px;
}

